# Experimento 5 

Hiperparmetro: num_val_windows = 2

In [7]:
import pandas as pd
from autogluon.timeseries import TimeSeriesDataFrame, TimeSeriesPredictor

In [3]:
df = pd.read_csv('../../data/preprocessed/base.csv', sep=',')
df.head()

,periodo,customer_id,product_id,plan_precios_cuidados,cust_request_qty,cust_request_tn,tn,cat1,cat2,cat3,brand,sku_size,stock_final
0,201701,10234,20524,0,2,0.05300,0.05300,HC,VAJILLA,Cristalino,Importado,500.0,NaN
1,201701,10032,20524,0,1,0.13628,0.13628,HC,VAJILLA,Cristalino,Importado,500.0,NaN
2,201701,10217,20524,0,1,0.03028,0.03028,HC,VAJILLA,Cristalino,Importado,500.0,NaN
3,201701,10125,20524,0,1,0.02271,0.02271,HC,VAJILLA,Cristalino,Importado,500.0,NaN
4,201701,10012,20524,0,11,1.54452,1.54452,HC,VAJILLA,Cristalino,Importado,500.0,NaN

In [4]:
dfg = df.groupby(['periodo', 'product_id']).agg({'tn': 'sum'}).reset_index()
dfg.head()

   periodo  product_id          tn
0   201701       20001   934.77222
1   201701       20002   550.15707
2   201701       20003  1063.45835
3   201701       20004   555.91614
4   201701       20005   494.27011

In [5]:
dfg['periodo_dt'] = pd.to_datetime(dfg['periodo'].astype(str), format='%Y%m')
dfg.rename(columns={'tn': 'target', 'product_id':'item_id', 'periodo_dt': 'timestamp'}, inplace=True)
dfg.drop(columns=['periodo'], inplace=True)

In [14]:
productos_ok = pd.read_csv('../../data/raw/product_id_apredecir201912.csv', sep=',')
productos_ok.head()

   product_id
0       20001
1       20002
2       20003
3       20004
4       20005

In [15]:
dfg = dfg[dfg['item_id'].isin(productos_ok['product_id'].unique())]

In [16]:
data = TimeSeriesDataFrame(dfg)
data

                        target
item_id timestamp
20001   2017-01-01   934.77222
20002   2017-01-01   550.15707
20003   2017-01-01  1063.45835
20004   2017-01-01   555.91614
20005   2017-01-01   494.27011
...                        ...
21263   2019-12-01     0.01270
21265   2019-12-01     0.05007
21266   2019-12-01     0.05121
21267   2019-12-01     0.01569
21276   2019-12-01     0.00892

[22349 rows x 1 columns]

In [17]:
predictor = TimeSeriesPredictor(target='target', prediction_length=2, freq="M").fit(data, num_val_windows = 2)
predictions = predictor.predict(data)

c:\Users\Usuario\AppData\Local\Programs\Python\Python311\Lib\site-packages\autogluon\timeseries\predictor.py:197: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  std_freq = pd.tseries.frequencies.to_offset(self.freq).freqstr
Frequency 'M' stored as 'ME'
Beginning AutoGluon training...
AutoGluon will save models to 'c:\Users\Usuario\Documents\Universidad\austral\2025\Lab3\Lab3-MCD\notebooks\model_autogluon\AutogluonModels\ag-20250605_141210'
=================== System Info ===================
AutoGluon Version:  1.2
Python Version:     3.11.4
Operating System:   Windows
Platform Machine:   AMD64
Platform Version:   10.0.26100
CPU Count:          4
GPU Count:          0
Memory Avail:       6.53 GB / 15.89 GB (41.1%)
Disk Space Avail:   415.81 GB / 893.49 GB (46.5%)
===================================================

Fitting with arguments:
{'enable_ensemble': True,
 'eval_metric': WQL,
 'freq': 'ME',
 'hyperparameters': 'default',
 'known_covariates_names': [],
 'num_val_windows': 2,
 'prediction_length': 2,
 'quantile_levels': [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9],
 'random_seed': 123,
 'refit_every_n_windows': 1,
 'refit_full': False,
 'skip_model_selection': False,
 'target': 'target',
 'verbosity': 2}

train_data with frequency 'None' has been resampled to frequency 'ME'.
Provided train_data has 22375 rows (NaN fraction=0.1%), 780 time series. Median time series length is 36 (min=4, max=36).
	Removing 75 short time series from train_data. Only series with length >= 9 will be used for training.
	After filtering, train_data has 21916 rows (NaN fraction=0.1%), 705 time series. Median time series length is 36 (min=9, max=36).

Provided data contains following columns:
	target: 'target'

AutoGluon will gauge predictive performance using evaluation metric: 'WQL'
	This metric's sign has been flipped to adhere to being higher_is_better. The metric score can be multiplied by -1 to get the metric value.
===================================================

Starting training. Start time is 2025-06-05 11:12:28
Models that will be trained: ['SeasonalNaive', 'RecursiveTabular', 'DirectTabular', 'NPTS', 'DynamicOptimizedTheta', 'AutoETS', 'ChronosZeroShot[bolt_base]', 'ChronosFineTuned[bolt_small]', 'TemporalFusionTransformer', 'DeepAR', 'PatchTST', 'TiDE']
Training timeseries model SeasonalNaive.
	-0.2298       = Validation score (-WQL)
	5.47    s     = Training runtime
	0.87    s     = Validation (prediction) runtime
Training timeseries model RecursiveTabular.
	Time series in the dataset are too short for chosen differences [12]. Setting differences to [1].
	Time series in the dataset are too short for chosen differences [12]. Setting differences to [1].
	-0.2285       = Validation score (-WQL)
	4.87    s     = Training runtime
	0.37    s     = Validation (prediction) runtime
Training timeseries model DirectTabular.
	-0.2444       = Validation score (-WQL)
	37.65   s     = Training runtime
	0.23    s     = Validation (prediction) runtime
Training timeseries model NPTS.
	-0.2798       = Validation score (-WQL)
	3.13    s     = Training runtime
	1.58    s     = Validation (prediction) runtime
Training timeseries model DynamicOptimizedTheta.
	-0.2080       = Validation score (-WQL)
	70.39   s     = Training runtime
	2.01    s     = Validation (prediction) runtime
Training timeseries model AutoETS.
	Warning: AutoETS\W0 failed for 45 time series (6.4%). Fallback model SeasonalNaive was used for these time series.
	-0.2011       = Validation score (-WQL)
	14.05   s     = Training runtime
	15.20   s     = Validation (prediction) runtime
Training timeseries model ChronosZeroShot[bolt_base].
	-0.1905       = Validation score (-WQL)
	75.96   s     = Training runtime
	8.10    s     = Validation (prediction) runtime
Training timeseries model ChronosFineTuned[bolt_small].
	Skipping covariate_regressor since the dataset contains no covariates or static features.
	Fine-tuning on the CPU detected. We recommend using a GPU for faster fine-tuning of Chronos.
	Warning: Exception caused ChronosFineTuned[bolt_small] to fail during training... Skipping this model.
	TrainingArguments.__init__() got an unexpected keyword argument 'evaluation_strategy'
Training timeseries model TemporalFusionTransformer.
	-0.1896       = Validation score (-WQL)
	715.43  s     = Training runtime
	0.56    s     = Validation (prediction) runtime
Training timeseries model DeepAR.
	-0.1863       = Validation score (-WQL)
	217.71  s     = Training runtime
	0.90    s     = Validation (prediction) runtime
Training timeseries model PatchTST.
	-0.1839       = Validation score (-WQL)
	113.75  s     = Training runtime
	0.41    s     = Validation (prediction) runtime
Training timeseries model TiDE.
	-0.2194       = Validation score (-WQL)
	597.05  s     = Training runtime
	0.89    s     = Validation (prediction) runtime
Fitting simple weighted ensemble.
	Ensemble weights: {'AutoETS': 0.19, 'DeepAR': 0.14, 'NPTS': 0.09, 'PatchTST': 0.24, 'SeasonalNaive': 0.07, 'TemporalFusionTransformer': 0.28}
	-0.1740       = Validation score (-WQL)
	2.76    s     = Training runtime
	19.51   s     = Validation (prediction) runtime
Training complete. Models trained: ['SeasonalNaive', 'RecursiveTabular', 'DirectTabular', 'NPTS', 'DynamicOptimizedTheta', 'AutoETS', 'ChronosZeroShot[bolt_base]', 'TemporalFusionTransformer', 'DeepAR', 'PatchTST', 'TiDE', 'WeightedEnsemble']
Total runtime: 1930.40 s
Best model: WeightedEnsemble
Best model score: -0.1740
data with frequency 'None' has been resampled to frequency 'ME'.
Model not specified in predict, will default to the model with the best validation score: WeightedEnsemble
	Warning: AutoETS\W1 failed for 46 time series (5.9%). Fallback model SeasonalNaive was used for these time series.

In [18]:
predictions_v1 = predictions.copy()
predictions_v1 = predictions_v1.reset_index()
predictions_v1 = predictions_v1[["item_id", "timestamp", "mean"]]
predictions_v1 = predictions_v1[predictions_v1.timestamp == "2020-02-29"]
predictions_v1 = predictions_v1.drop(columns = {"timestamp"})
predictions_v1 = predictions_v1.rename(columns = {"item_id":"product_id", "mean":"tn"})
predictions_v1.head(5)

   product_id           tn
1       20001  1302.821147
3       20002  1087.357424
5       20003   682.975566
7       20004   522.412123
9       20005   529.132087

In [19]:
predictions_v1.shape

(780, 2)

In [20]:
predictions_v1.to_csv("../../outputs/prediccion_autogluon_2ventanas.csv", sep = ",", index = False)