##### Usar Libreria statsforecast que es más rápida

In [2]:
import pandas as pd
import numpy as np
from pmdarima import auto_arima
from statsforecast import StatsForecast
from statsforecast.models import AutoARIMA,  ETS, Theta
from joblib import Parallel, delayed  # Para paralelizar (opcional)
import warnings
warnings.filterwarnings('ignore')  # Ignorar warnings

In [23]:
productos_ok = pd.read_csv("https://storage.googleapis.com/open-courses/austral2025-af91/labo3v/product_id_apredecir201912.txt", sep="\t")

df = pd.read_csv("../../data/raw/sell-in.csv", sep="\t")
df.shape

(2945818, 7)

In [4]:
ts = df.groupby(["periodo", "product_id"]).agg({"tn": "sum"}).reset_index()

ts = ts[ts['product_id'].isin(productos_ok['product_id'])]

In [5]:
# Convertir 'periodo' (yyyymm) a datetime
ts['periodo_dt'] = pd.to_datetime(ts['periodo'].astype(str), format='%Y%m')
ts = ts.sort_values(['product_id', 'periodo_dt'])  # Ordenar por producto y fecha
ts

       periodo  product_id          tn periodo_dt
0       201701       20001   934.77222 2017-01-01
785     201702       20001   798.01620 2017-02-01
1566    201703       20001  1303.35771 2017-03-01
2352    201704       20001  1069.96130 2017-04-01
3136    201705       20001  1502.20132 2017-05-01
...        ...         ...         ...        ...
27494   201908       21276     0.01265 2019-08-01
28424   201909       21276     0.01856 2019-09-01
29376   201910       21276     0.02079 2019-10-01
30315   201911       21276     0.03341 2019-11-01
31242   201912       21276     0.00892 2019-12-01

[22349 rows x 4 columns]

In [6]:
ts.drop(columns=['periodo'], inplace=True)  # Eliminar columna temporal
ts.rename(columns={'tn': 'y', 'periodo_dt':'ds', 'product_id':'unique_id'}, inplace=True)  # Renombrar columna de tn

In [ ]:
# ts['crisis'] = ((ts['ds'].dt.year == 2019) & (ts['ds'].dt.month == 8)).astype(int)  # Ejemplo dummy

In [ ]:
# # 3. Configurar y entrenar AutoARIMA con StatsForecast
# tsc = ts.copy()
# tsc = ts[ts['unique_id'] == 20001]  # Filtrar por un producto específico para el ejemplo
# tsc

       unique_id           y         ds
0          20001   934.77222 2017-01-01
785        20001   798.01620 2017-02-01
1566       20001  1303.35771 2017-03-01
2352       20001  1069.96130 2017-04-01
3136       20001  1502.20132 2017-05-01
3942       20001  1520.06539 2017-06-01
4765       20001  1030.67391 2017-07-01
5591       20001  1267.39462 2017-08-01
6438       20001  1316.94604 2017-09-01
7267       20001  1439.75563 2017-10-01
8116       20001  1580.47401 2017-11-01
8976       20001  1049.38860 2017-12-01
9832       20001  1169.07532 2018-01-01
10686      20001  1043.76470 2018-02-01
11534      20001  1856.83534 2018-03-01
12387      20001  1251.28462 2018-04-01
13241      20001  1293.89788 2018-05-01
14105      20001  1150.79169 2018-06-01
14956      20001  1470.41009 2018-07-01
15802      20001  1800.96168 2018-08-01
16650      20001  1438.67455 2018-09-01
17525      20001  2295.19832 2018-10-01
18422      20001  1813.01511 2018-11-01
19320      20001  1486.68669 2018-12-01
20212      20001  1275.77351 2019-01-01
21099      20001  1259.09363 2019-02-01
21993      20001  1470.65653 2019-03-01
22888      20001  1647.63848 2019-04-01
23807      20001  1629.78233 2019-05-01
24718      20001  1109.93769 2019-06-01
25634      20001  1678.99318 2019-07-01
26566      20001  1261.34529 2019-08-01
27495      20001  1660.00561 2019-09-01
28425      20001  1561.50552 2019-10-01
29377      20001  1397.37231 2019-11-01
30316      20001  1504.68856 2019-12-01

In [ ]:
# models = [
#     AutoARIMA(season_length=12),
#     ETS(season_length=12),
#     Theta(season_length=12)
# ]


# sf = StatsForecast(
#     models=models,
#     freq='MS',  # Frecuencia mensual
#     n_jobs=-1   # Paralelizar en todos los núcleos
# )

# # 4. Predecir 2 meses adelante
# forecasts = sf.forecast(h=2, df=tsc)
# print(forecasts)

                  ds    AutoARIMA          ETS        Theta
unique_id
20001     2020-01-01  1488.118128  1498.447866  1528.403687
20001     2020-02-01  1488.118128  1498.614501  1534.384277

In [ ]:
# pred = forecasts.iloc[[-1]]
# pred = pred[['AutoARIMA', 'ETS', 'Theta']].mean(axis=1)
# pred

unique_id
20001    1507.038969
dtype: float64

In [8]:
ts

       unique_id           y         ds
0          20001   934.77222 2017-01-01
785        20001   798.01620 2017-02-01
1566       20001  1303.35771 2017-03-01
2352       20001  1069.96130 2017-04-01
3136       20001  1502.20132 2017-05-01
...          ...         ...        ...
27494      21276     0.01265 2019-08-01
28424      21276     0.01856 2019-09-01
29376      21276     0.02079 2019-10-01
30315      21276     0.03341 2019-11-01
31242      21276     0.00892 2019-12-01

[22349 rows x 3 columns]

In [9]:
models = [
    AutoARIMA(season_length=12),
    ETS(season_length=12),
    Theta(season_length=12)
]

predictions = {}

for product_id in productos_ok['product_id'].unique():
    df_product = ts[ts['unique_id'] == product_id].copy()
    
    # Añadir columna unique_id (requerida por StatsForecast)
    df_product['unique_id'] = product_id
    
    # Seleccionar columnas necesarias y ordenar por fecha
    df_product = df_product[['unique_id', 'ds', 'y']].sort_values('ds')
    
    if len(df_product) >= 12:
        try:
            sf = StatsForecast(models=models, freq='MS', n_jobs=-1)
            pred = sf.forecast(h=2, df=df_product)
            
            # Obtener la última predicción (h=2)
            pred_feb2020 = pred.sort_values('ds').iloc[[-1]]
            
            # Calcular promedio de modelos
            mean_pred = pred_feb2020[['AutoARIMA', 'ETS', 'Theta']].mean(axis=1).iloc[0]
            predictions[product_id] = mean_pred
            
            print(f"Producto {product_id}: Modelo ajustado")
            
        except Exception as e:
            print(f"Error en producto {product_id}: {str(e)}")
            predictions[product_id] = None
    else:
        print(f"Producto {product_id}: Insuficientes datos ({len(df_product)} observaciones)")
        predictions[product_id] = None

# Convertir a DataFrame
df_predictions = pd.DataFrame({
    'product_id': predictions.keys(),
    'prediccion_mes+2': predictions.values()
})

Producto 20001: Modelo ajustado
Producto 20002: Modelo ajustado
Producto 20003: Modelo ajustado
Producto 20004: Modelo ajustado
Producto 20005: Modelo ajustado
Producto 20006: Modelo ajustado
Producto 20007: Modelo ajustado
Producto 20008: Modelo ajustado
Producto 20009: Modelo ajustado
Producto 20010: Modelo ajustado
Producto 20011: Modelo ajustado
Producto 20012: Modelo ajustado
Producto 20013: Modelo ajustado
Producto 20014: Modelo ajustado
Producto 20015: Modelo ajustado
Producto 20016: Modelo ajustado
Producto 20017: Modelo ajustado
Producto 20018: Modelo ajustado
Producto 20019: Modelo ajustado
Producto 20020: Modelo ajustado
Producto 20021: Modelo ajustado
Producto 20022: Modelo ajustado
Producto 20023: Modelo ajustado
Producto 20024: Modelo ajustado
Producto 20025: Modelo ajustado
Producto 20026: Modelo ajustado
Producto 20027: Modelo ajustado
Producto 20028: Modelo ajustado
Producto 20029: Modelo ajustado
Producto 20030: Modelo ajustado
Producto 20031: Modelo ajustado
Producto 20032: Insuficientes datos (11 observaciones)
Producto 20033: Modelo ajustado
Producto 20035: Modelo ajustado
Producto 20037: Modelo ajustado
Producto 20038: Modelo ajustado
Producto 20039: Modelo ajustado
Producto 20041: Modelo ajustado
Producto 20042: Modelo ajustado
Producto 20043: Modelo ajustado
Producto 20044: Modelo ajustado
Producto 20045: Modelo ajustado
Producto 20046: Modelo ajustado
Producto 20047: Modelo ajustado
Producto 20049: Modelo ajustado
Producto 20050: Modelo ajustado
Producto 20051: Modelo ajustado
Producto 20052: Modelo ajustado
Producto 20053: Modelo ajustado
Producto 20054: Modelo ajustado
Producto 20055: Modelo ajustado
Producto 20056: Modelo ajustado
Producto 20057: Modelo ajustado
Producto 20058: Modelo ajustado
Producto 20059: Modelo ajustado
Producto 20061: Modelo ajustado
Producto 20062: Modelo ajustado
Producto 20063: Modelo ajustado
Producto 20065: Modelo ajustado
Producto 20066: Modelo ajustado
Producto 20067: Modelo ajustado
Producto 20068: Modelo ajustado
Producto 20069: Modelo ajustado
Producto 20070: Modelo ajustado
Producto 20071: Modelo ajustado
Producto 20072: Modelo ajustado
Producto 20073: Modelo ajustado
Producto 20074: Modelo ajustado
Producto 20075: Modelo ajustado
Producto 20076: Modelo ajustado
Producto 20077: Modelo ajustado
Producto 20079: Modelo ajustado
Producto 20080: Modelo ajustado
Producto 20081: Modelo ajustado
Producto 20082: Modelo ajustado
Producto 20084: Modelo ajustado
Producto 20085: Modelo ajustado
Producto 20086: Modelo ajustado
Producto 20087: Modelo ajustado
Producto 20089: Modelo ajustado
Producto 20090: Modelo ajustado
Producto 20091: Modelo ajustado
Producto 20092: Modelo ajustado
Producto 20093: Modelo ajustado
Producto 20094: Modelo ajustado
Producto 20095: Modelo ajustado
Producto 20096: Modelo ajustado
Producto 20097: Modelo ajustado
Producto 20099: Modelo ajustado
Producto 20100: Modelo ajustado
Producto 20101: Modelo ajustado
Producto 20102: Modelo ajustado
Producto 20103: Modelo ajustado
Producto 20106: Modelo ajustado
Producto 20107: Modelo ajustado
Producto 20108: Modelo ajustado
Producto 20109: Modelo ajustado
Producto 20111: Modelo ajustado
Producto 20112: Modelo ajustado
Producto 20114: Modelo ajustado
Producto 20116: Modelo ajustado
Producto 20117: Modelo ajustado
Producto 20118: Modelo ajustado
Producto 20119: Modelo ajustado
Producto 20120: Modelo ajustado
Producto 20121: Modelo ajustado
Producto 20122: Modelo ajustado
Producto 20123: Modelo ajustado
Producto 20124: Modelo ajustado
Producto 20125: Modelo ajustado
Producto 20126: Modelo ajustado
Producto 20127: Insuficientes datos (4 observaciones)
Producto 20129: Modelo ajustado
Producto 20130: Modelo ajustado
Producto 20132: Modelo ajustado
Producto 20133: Modelo ajustado
Producto 20134: Modelo ajustado
Producto 20135: Modelo ajustado
Producto 20137: Modelo ajustado
Producto 20138: Modelo ajustado
Producto 20139: Modelo ajustado
Producto 20140: Modelo ajustado
Producto 20142: Modelo ajustado
Producto 20143: Modelo ajustado
Producto 20144: Modelo ajustado
Producto 20145: Modelo ajustado
Producto 20146: Modelo ajustado
Producto 20148: Modelo ajustado
Producto 20150: Modelo ajustado
Producto 20151: Modelo ajustado
Producto 20152: Modelo ajustado
Producto 20153: Modelo ajustado
Producto 20155: Modelo ajustado
Producto 20157: Modelo ajustado
Producto 20158: Modelo ajustado
Producto 20159: Modelo ajustado
Producto 20160: Modelo ajustado
Producto 20161: Modelo ajustado
Producto 20162: Modelo ajustado
Producto 20164: Modelo ajustado
Producto 20166: Modelo ajustado
Producto 20167: Modelo ajustado
Producto 20168: Modelo ajustado
Producto 20170: Modelo ajustado
Producto 20174: Insuficientes datos (7 observaciones)
Producto 20175: Modelo ajustado
Producto 20176: Modelo ajustado
Producto 20177: Modelo ajustado
Producto 20179: Modelo ajustado
Producto 20180: Modelo ajustado
Producto 20181: Modelo ajustado
Producto 20182: Modelo ajustado
Producto 20183: Modelo ajustado
Producto 20184: Modelo ajustado
Producto 20187: Modelo ajustado
Producto 20188: Modelo ajustado
Producto 20189: Modelo ajustado
Producto 20192: Modelo ajustado
Producto 20193: Modelo ajustado
Producto 20196: Modelo ajustado
Producto 20197: Modelo ajustado
Producto 20198: Modelo ajustado
Producto 20200: Modelo ajustado
Producto 20201: Modelo ajustado
Producto 20202: Modelo ajustado
Producto 20203: Modelo ajustado
Producto 20205: Modelo ajustado
Producto 20206: Modelo ajustado
Producto 20207: Modelo ajustado
Producto 20208: Modelo ajustado
Producto 20209: Modelo ajustado
Producto 20210: Insuficientes datos (4 observaciones)
Producto 20211: Modelo ajustado
Producto 20212: Modelo ajustado
Producto 20213: Insuficientes datos (5 observaciones)
Producto 20215: Modelo ajustado
Producto 20216: Modelo ajustado
Producto 20218: Modelo ajustado
Producto 20219: Modelo ajustado
Producto 20220: Modelo ajustado
Producto 20222: Modelo ajustado
Producto 20224: Modelo ajustado
Producto 20225: Modelo ajustado
Producto 20226: Modelo ajustado
Producto 20227: Modelo ajustado
Producto 20228: Modelo ajustado
Producto 20230: Modelo ajustado
Producto 20231: Modelo ajustado
Producto 20232: Modelo ajustado
Producto 20233: Modelo ajustado
Producto 20234: Modelo ajustado
Producto 20235: Modelo ajustado
Producto 20236: Insuficientes datos (6 observaciones)
Producto 20237: Modelo ajustado
Producto 20238: Modelo ajustado
Producto 20239: Modelo ajustado
Producto 20240: Modelo ajustado
Producto 20241: Modelo ajustado
Producto 20242: Modelo ajustado
Producto 20244: Modelo ajustado
Producto 20246: Modelo ajustado
Producto 20249: Modelo ajustado
Producto 20251: Modelo ajustado
Producto 20252: Modelo ajustado
Producto 20253: Modelo ajustado
Producto 20254: Modelo ajustado
Producto 20255: Modelo ajustado
Producto 20256: Modelo ajustado
Producto 20257: Insuficientes datos (5 observaciones)
Producto 20259: Modelo ajustado
Producto 20261: Insuficientes datos (6 observaciones)
Producto 20262: Modelo ajustado
Producto 20263: Modelo ajustado
Producto 20264: Modelo ajustado
Producto 20265: Modelo ajustado
Producto 20266: Modelo ajustado
Producto 20267: Modelo ajustado
Producto 20268: Modelo ajustado
Producto 20269: Modelo ajustado
Producto 20270: Modelo ajustado
Producto 20271: Modelo ajustado
Producto 20272: Modelo ajustado
Producto 20273: Modelo ajustado
Producto 20275: Modelo ajustado
Producto 20276: Modelo ajustado
Producto 20277: Modelo ajustado
Producto 20278: Modelo ajustado
Producto 20280: Modelo ajustado
Producto 20281: Modelo ajustado
Producto 20282: Modelo ajustado
Producto 20283: Modelo ajustado
Producto 20284: Modelo ajustado
Producto 20285: Modelo ajustado
Producto 20286: Insuficientes datos (10 observaciones)
Producto 20288: Modelo ajustado
Producto 20289: Modelo ajustado
Producto 20290: Modelo ajustado
Producto 20291: Modelo ajustado
Producto 20292: Modelo ajustado
Producto 20295: Modelo ajustado
Producto 20296: Modelo ajustado
Producto 20297: Modelo ajustado
Producto 20298: Modelo ajustado
Producto 20299: Modelo ajustado
Producto 20300: Modelo ajustado
Producto 20301: Modelo ajustado
Producto 20302: Modelo ajustado
Producto 20303: Modelo ajustado
Producto 20304: Modelo ajustado
Producto 20305: Modelo ajustado
Producto 20306: Modelo ajustado
Producto 20307: Modelo ajustado
Producto 20309: Modelo ajustado
Producto 20310: Modelo ajustado
Producto 20311: Modelo ajustado
Producto 20313: Modelo ajustado
Producto 20314: Modelo ajustado
Producto 20315: Modelo ajustado
Producto 20316: Modelo ajustado
Producto 20317: Modelo ajustado
Producto 20319: Modelo ajustado
Producto 20320: Modelo ajustado
Producto 20321: Modelo ajustado
Producto 20322: Modelo ajustado
Producto 20323: Modelo ajustado
Producto 20324: Modelo ajustado
Producto 20325: Modelo ajustado
Producto 20326: Modelo ajustado
Producto 20327: Modelo ajustado
Producto 20328: Modelo ajustado
Producto 20329: Modelo ajustado
Producto 20330: Modelo ajustado
Producto 20332: Modelo ajustado
Producto 20334: Modelo ajustado
Producto 20335: Modelo ajustado
Producto 20336: Modelo ajustado
Producto 20337: Modelo ajustado
Producto 20338: Modelo ajustado
Producto 20340: Modelo ajustado
Producto 20341: Modelo ajustado
Producto 20342: Modelo ajustado
Producto 20343: Modelo ajustado
Producto 20344: Modelo ajustado
Producto 20346: Modelo ajustado
Producto 20348: Modelo ajustado
Producto 20349: Modelo ajustado
Producto 20350: Modelo ajustado
Producto 20351: Modelo ajustado
Producto 20352: Modelo ajustado
Producto 20353: Modelo ajustado
Producto 20354: Modelo ajustado
Producto 20355: Insuficientes datos (9 observaciones)
Producto 20356: Modelo ajustado
Producto 20357: Modelo ajustado
Producto 20358: Modelo ajustado
Producto 20359: Modelo ajustado
Producto 20361: Modelo ajustado
Producto 20362: Modelo ajustado
Producto 20364: Modelo ajustado
Producto 20365: Modelo ajustado
Producto 20366: Modelo ajustado
Producto 20367: Modelo ajustado
Producto 20368: Modelo ajustado
Producto 20372: Modelo ajustado
Producto 20375: Modelo ajustado
Producto 20377: Modelo ajustado
Producto 20378: Modelo ajustado
Producto 20379: Modelo ajustado
Producto 20380: Modelo ajustado
Producto 20381: Modelo ajustado
Producto 20382: Modelo ajustado
Producto 20383: Modelo ajustado
Producto 20384: Modelo ajustado
Producto 20385: Modelo ajustado
Producto 20386: Modelo ajustado
Producto 20387: Modelo ajustado
Producto 20388: Modelo ajustado
Producto 20389: Modelo ajustado
Producto 20390: Modelo ajustado
Producto 20395: Modelo ajustado
Producto 20396: Modelo ajustado
Producto 20398: Modelo ajustado
Producto 20400: Modelo ajustado
Producto 20401: Modelo ajustado
Producto 20402: Modelo ajustado
Producto 20403: Modelo ajustado
Producto 20404: Modelo ajustado
Producto 20406: Modelo ajustado
Producto 20407: Modelo ajustado
Producto 20408: Modelo ajustado
Producto 20409: Modelo ajustado
Producto 20410: Modelo ajustado
Producto 20411: Modelo ajustado
Producto 20414: Insuficientes datos (9 observaciones)
Producto 20415: Modelo ajustado
Producto 20416: Modelo ajustado
Producto 20417: Modelo ajustado
Producto 20418: Modelo ajustado
Producto 20419: Modelo ajustado
Producto 20421: Modelo ajustado
Producto 20422: Modelo ajustado
Producto 20424: Modelo ajustado
Producto 20426: Modelo ajustado
Producto 20428: Modelo ajustado
Producto 20429: Modelo ajustado
Producto 20432: Modelo ajustado
Producto 20433: Modelo ajustado
Producto 20434: Modelo ajustado
Producto 20438: Modelo ajustado
Producto 20440: Insuficientes datos (6 observaciones)
Producto 20442: Insuficientes datos (10 observaciones)
Producto 20443: Modelo ajustado
Producto 20447: Modelo ajustado
Producto 20449: Modelo ajustado
Producto 20450: Modelo ajustado
Producto 20453: Modelo ajustado
Producto 20456: Modelo ajustado
Producto 20458: Insuficientes datos (9 observaciones)
Producto 20459: Modelo ajustado
Producto 20460: Modelo ajustado
Producto 20463: Modelo ajustado
Producto 20464: Modelo ajustado
Producto 20465: Modelo ajustado
Producto 20466: Modelo ajustado
Producto 20469: Modelo ajustado
Producto 20470: Modelo ajustado
Producto 20473: Modelo ajustado
Producto 20474: Modelo ajustado
Producto 20476: Insuficientes datos (9 observaciones)
Producto 20477: Modelo ajustado
Producto 20478: Modelo ajustado
Producto 20479: Modelo ajustado
Producto 20480: Modelo ajustado
Producto 20481: Modelo ajustado
Producto 20482: Modelo ajustado
Producto 20483: Modelo ajustado
Producto 20484: Modelo ajustado
Producto 20488: Modelo ajustado
Producto 20490: Modelo ajustado
Producto 20491: Insuficientes datos (10 observaciones)
Producto 20495: Modelo ajustado
Producto 20496: Modelo ajustado
Producto 20497: Modelo ajustado
Producto 20500: Modelo ajustado
Producto 20502: Modelo ajustado
Producto 20503: Modelo ajustado
Producto 20505: Modelo ajustado
Producto 20508: Modelo ajustado
Producto 20509: Modelo ajustado
Producto 20510: Insuficientes datos (9 observaciones)
Producto 20513: Modelo ajustado
Producto 20514: Modelo ajustado
Producto 20517: Modelo ajustado
Producto 20520: Modelo ajustado
Producto 20521: Insuficientes datos (9 observaciones)
Producto 20522: Modelo ajustado
Producto 20523: Modelo ajustado
Producto 20524: Modelo ajustado
Producto 20525: Insuficientes datos (9 observaciones)
Producto 20526: Insuficientes datos (9 observaciones)
Producto 20527: Modelo ajustado
Producto 20530: Modelo ajustado
Producto 20531: Insuficientes datos (9 observaciones)
Producto 20532: Modelo ajustado
Producto 20536: Modelo ajustado
Producto 20537: Insuficientes datos (9 observaciones)
Producto 20538: Modelo ajustado
Producto 20539: Modelo ajustado
Producto 20540: Modelo ajustado
Producto 20541: Modelo ajustado
Producto 20542: Modelo ajustado
Producto 20544: Modelo ajustado
Producto 20547: Modelo ajustado
Producto 20548: Insuficientes datos (10 observaciones)
Producto 20549: Modelo ajustado
Producto 20551: Modelo ajustado
Producto 20552: Modelo ajustado
Producto 20553: Modelo ajustado
Producto 20555: Modelo ajustado
Producto 20558: Modelo ajustado
Producto 20559: Modelo ajustado
Producto 20560: Modelo ajustado
Producto 20561: Modelo ajustado
Producto 20563: Modelo ajustado
Producto 20565: Modelo ajustado
Producto 20567: Modelo ajustado
Producto 20568: Modelo ajustado
Producto 20569: Modelo ajustado
Producto 20570: Modelo ajustado
Producto 20571: Modelo ajustado
Producto 20572: Modelo ajustado
Producto 20574: Modelo ajustado
Producto 20575: Insuficientes datos (9 observaciones)
Producto 20576: Modelo ajustado
Producto 20577: Insuficientes datos (9 observaciones)
Producto 20578: Modelo ajustado
Producto 20579: Modelo ajustado
Producto 20580: Modelo ajustado
Producto 20583: Modelo ajustado
Producto 20585: Modelo ajustado
Producto 20586: Modelo ajustado
Producto 20588: Modelo ajustado
Producto 20589: Modelo ajustado
Producto 20592: Insuficientes datos (7 observaciones)
Producto 20593: Insuficientes datos (9 observaciones)
Producto 20596: Modelo ajustado
Producto 20597: Modelo ajustado
Producto 20599: Modelo ajustado
Producto 20600: Modelo ajustado
Producto 20601: Modelo ajustado
Producto 20602: Modelo ajustado
Producto 20603: Insuficientes datos (9 observaciones)
Producto 20604: Modelo ajustado
Producto 20605: Modelo ajustado
Producto 20606: Modelo ajustado
Producto 20609: Modelo ajustado
Producto 20611: Modelo ajustado
Producto 20612: Modelo ajustado
Producto 20614: Modelo ajustado
Producto 20615: Insuficientes datos (6 observaciones)
Producto 20617: Modelo ajustado
Producto 20620: Insuficientes datos (10 observaciones)
Producto 20621: Insuficientes datos (6 observaciones)
Producto 20622: Modelo ajustado
Producto 20623: Insuficientes datos (10 observaciones)
Producto 20624: Modelo ajustado
Producto 20627: Modelo ajustado
Producto 20628: Modelo ajustado
Producto 20629: Modelo ajustado
Producto 20632: Modelo ajustado
Producto 20633: Insuficientes datos (9 observaciones)
Producto 20636: Modelo ajustado
Producto 20637: Modelo ajustado
Producto 20638: Modelo ajustado
Producto 20639: Modelo ajustado
Producto 20640: Modelo ajustado
Producto 20641: Modelo ajustado
Producto 20642: Modelo ajustado
Producto 20644: Modelo ajustado
Producto 20646: Modelo ajustado
Producto 20647: Modelo ajustado
Producto 20649: Insuficientes datos (7 observaciones)
Producto 20651: Modelo ajustado
Producto 20652: Modelo ajustado
Producto 20653: Modelo ajustado
Producto 20654: Modelo ajustado
Producto 20655: Modelo ajustado
Producto 20657: Modelo ajustado
Producto 20658: Modelo ajustado
Producto 20659: Insuficientes datos (10 observaciones)
Producto 20660: Modelo ajustado
Producto 20661: Modelo ajustado
Producto 20662: Insuficientes datos (6 observaciones)
Producto 20663: Modelo ajustado
Producto 20664: Modelo ajustado
Producto 20666: Modelo ajustado
Producto 20667: Modelo ajustado
Producto 20670: Modelo ajustado
Producto 20672: Modelo ajustado
Producto 20673: Insuficientes datos (6 observaciones)
Producto 20674: Insuficientes datos (7 observaciones)
Producto 20676: Modelo ajustado
Producto 20677: Modelo ajustado
Producto 20678: Modelo ajustado
Producto 20679: Modelo ajustado
Producto 20680: Modelo ajustado
Producto 20681: Insuficientes datos (9 observaciones)
Producto 20682: Modelo ajustado
Producto 20684: Modelo ajustado
Producto 20685: Modelo ajustado
Producto 20686: Insuficientes datos (4 observaciones)
Producto 20689: Modelo ajustado
Producto 20691: Insuficientes datos (7 observaciones)
Producto 20693: Modelo ajustado
Producto 20694: Insuficientes datos (5 observaciones)
Producto 20696: Modelo ajustado
Producto 20697: Modelo ajustado
Producto 20699: Modelo ajustado
Producto 20700: Modelo ajustado
Producto 20701: Modelo ajustado
Producto 20702: Modelo ajustado
Producto 20703: Insuficientes datos (4 observaciones)
Producto 20705: Modelo ajustado
Producto 20706: Modelo ajustado
Producto 20708: Modelo ajustado
Producto 20709: Modelo ajustado
Producto 20711: Insuficientes datos (6 observaciones)
Producto 20713: Modelo ajustado
Producto 20714: Modelo ajustado
Producto 20715: Modelo ajustado
Producto 20719: Insuficientes datos (9 observaciones)
Producto 20720: Insuficientes datos (6 observaciones)
Producto 20721: Modelo ajustado
Producto 20724: Modelo ajustado
Producto 20729: Modelo ajustado
Producto 20730: Modelo ajustado
Producto 20732: Insuficientes datos (7 observaciones)
Producto 20733: Modelo ajustado
Producto 20735: Modelo ajustado
Producto 20737: Modelo ajustado
Producto 20739: Modelo ajustado
Producto 20741: Modelo ajustado
Producto 20742: Modelo ajustado
Producto 20743: Modelo ajustado
Producto 20744: Modelo ajustado
Producto 20745: Modelo ajustado
Producto 20746: Insuficientes datos (9 observaciones)
Producto 20749: Modelo ajustado
Producto 20750: Modelo ajustado
Producto 20751: Modelo ajustado
Producto 20754: Insuficientes datos (8 observaciones)
Producto 20756: Modelo ajustado
Producto 20757: Insuficientes datos (10 observaciones)
Producto 20758: Modelo ajustado
Producto 20759: Modelo ajustado
Producto 20761: Modelo ajustado
Producto 20762: Insuficientes datos (5 observaciones)
Producto 20765: Modelo ajustado
Producto 20768: Modelo ajustado
Producto 20771: Modelo ajustado
Producto 20772: Insuficientes datos (7 observaciones)
Producto 20773: Modelo ajustado
Producto 20774: Insuficientes datos (7 observaciones)
Producto 20775: Modelo ajustado
Producto 20777: Modelo ajustado
Producto 20781: Modelo ajustado
Producto 20783: Modelo ajustado
Producto 20785: Insuficientes datos (9 observaciones)
Producto 20786: Modelo ajustado
Producto 20788: Modelo ajustado
Producto 20789: Modelo ajustado
Producto 20793: Modelo ajustado
Producto 20795: Insuficientes datos (9 observaciones)
Producto 20800: Modelo ajustado
Producto 20801: Modelo ajustado
Producto 20802: Modelo ajustado
Producto 20803: Modelo ajustado
Producto 20807: Modelo ajustado
Producto 20809: Modelo ajustado
Producto 20810: Modelo ajustado
Producto 20811: Modelo ajustado
Producto 20812: Modelo ajustado
Producto 20815: Insuficientes datos (5 observaciones)
Producto 20817: Modelo ajustado
Producto 20818: Modelo ajustado
Producto 20820: Modelo ajustado

In [11]:
df_predictions

     product_id  prediccion_mes+2
0         20001       1507.038969
1         20002       1314.490897
2         20003        770.206630
3         20004        572.858422
4         20005        568.824719
..          ...               ...
775       21263          0.006694
776       21265               NaN
777       21266               NaN
778       21267               NaN
779       21276               NaN

[780 rows x 2 columns]

In [12]:
df_predictions.rename(columns={'prediccion_mes+2': 'tn'}, inplace=True)

In [14]:
# 2. Reemplazar negativos por 0 ANTES del modelo
df_predictions['tn'] = np.where(df_predictions['tn'] < 0, 0, df_predictions['tn'])

In [25]:
df_copy = df.copy()
df_copy = df_copy[df_copy['periodo'] == 201912]  # Filtrar por diciembre 2019
df_copy = df_copy.groupby(["periodo", "product_id"]).agg({"tn": "sum"}).reset_index()
df_copy

     periodo  product_id          tn
0     201912       20001  1504.68856
1     201912       20002  1087.30855
2     201912       20003   892.50129
3     201912       20004   637.90002
4     201912       20005   593.24443
..       ...         ...         ...
922   201912       21265     0.05007
923   201912       21266     0.05121
924   201912       21267     0.01569
925   201912       21271     0.00298
926   201912       21276     0.00892

[927 rows x 3 columns]

In [27]:
df_predictions

     product_id           tn
0         20001  1507.038969
1         20002  1314.490897
2         20003   770.206630
3         20004   572.858422
4         20005   568.824719
..          ...          ...
775       21263     0.006694
776       21265          NaN
777       21266          NaN
778       21267          NaN
779       21276          NaN

[780 rows x 2 columns]

In [26]:
df_final = df_predictions.merge(df_copy[['product_id', 'tn']], on='product_id', how='left', suffixes=('', '_original'))
df_final

     product_id           tn  tn_original
0         20001  1507.038969   1504.68856
1         20002  1314.490897   1087.30855
2         20003   770.206630    892.50129
3         20004   572.858422    637.90002
4         20005   568.824719    593.24443
..          ...          ...          ...
775       21263     0.006694      0.01270
776       21265          NaN      0.05007
777       21266          NaN      0.05121
778       21267          NaN      0.01569
779       21276          NaN      0.00892

[780 rows x 3 columns]

In [28]:
df_final['tn'] = df_final['tn'].fillna(df_final['tn_original'])
df_final.isna().sum()

product_id     0
tn             0
tn_original    0
dtype: int64

In [32]:
df_final.drop(columns=['tn_original'], inplace=True)

In [33]:
df_final.to_csv("../../outputs/autorima_exp2.csv", index=False, sep=",")